body{
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
  height: 100vh;
}
.shade{
  background-color: rgba(0, 0, 0, 0.78);
  width: 100%;
  height: 100%;
}
.centered{
  text-align: center;
}
.flexCentered{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}
.flexed{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.container{
  position: relative;
  width: 1160px;
  height: 100%;
}
.header{
  z-index: 99;
  height: 120px;
  position: fixed;
}
.promo{
  background-image: url(..//img/section-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1012px;
}
.features{
  display:flex;
  justify-content: center;
  height: 374px;
}
.feature{
  width: 25%;
  height: 367px;
  border-top: 7px solid #18cfab;
  background-color: #1c2a33;
}
.feature:nth-child(even){
  background-color: #18cfab;
  border-top: 7px solid #fff;
}
.services{
  height: 500px;
  background-color: #fff;
}
.purchase{
  height: 474px;
  background-image: url(..//img/section-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.amazingWork{
  background-color: #f8fcfe;
  border-bottom: 2px solid #e2e2e2;
}
.news{
  height: 1000px;
  background-color: #fff;
}
.whatPeopleSay{
  height: 852px;
  background-image: url(..//img/section-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery{
  background-color: #f8fcfe;
  height: 1366px;
}
.footer{
  background-color: #22353f;
  height: 108px;
}
.logo{
  position: relative;
  top:25px;
  width:18%;
}
.logoimg{
  display: inline-block;
  background-image: url(..//img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 58px;
  height: 67px;
}
.logoimg p{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
  position: relative;
  top: 20px;
  left: 15px;
  text-transform: uppercase;
}
.words{
  position: relative;
  top: 15px;
  left: 5px;
  display: inline-block;
}
.words p{
  display: inline-block;
  color: #fff;
  font-size: 31.96px;
  font-weight: 400;
  line-height: 31px;
}
.ham{
  display: inline-block;
  color: #18cfab;
  font-size: 31.96px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  transform: scaleY(1.0015);
  text-transform: capitalize;
}
.navigation{
  display: inline-block;
  position: relative;
  top:35px;
}
.navigation a{
  text-decoration: none;
  font-family: Montserrat;
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  line-height: 42px;
  text-transform: capitalize;
  padding: 0 10px 53px 10px;
}
.navigation a:hover{
  border-bottom: 2px solid #18cfab;
  color:#18cfab;
}
.mainHeading{
  position: relative;
  top: 400px;
}
.mainHeading h3{
  color:  #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
}
.mainHeading h3 span{
  color: #18cfab;
}
.mainHeading h1{
  color:  #ffffff;
  font-size: 79px;
  font-weight: 700;
  line-height: 74px;
  transform: scaleX(1.0005);
  text-transform: uppercase;
}
.mainHeading h5{
  color:  #d4d4d4;
  font-size: 34px;
  font-weight: 300;
  line-height: 74px;
  text-align: center;
  transform: scaleX(1.0005);
  text-transform: capitalize;
}
.buttons{
  position: relative;
  top: 50%;
  padding: 0 365px 0 365px;
}
.btn{
  width: 166px;
  height: 61px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  background-color: #18cfab;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  border: none;
}
.blued{
  background-color: #00cbf6;
}
.shadow{
  box-shadow: 0px -5px 0px 0px #fff;
}
.featureitem{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30%;
}
.featureitem p{
  text-transform: uppercase;
  color:  #18cfab;
  font-size: 20px;
  font-weight: 700;
  padding-top: 45px;
}
.feature:nth-child(even) .featureitem p{
  padding-top: 65px;
  color: #fff;
}
.sectionHeading{
  padding-top: 40px;
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}
.sectionHeading.withLines:after{
  content: "";
  display: block;
  margin: 0 auto;
  transform: skew(70deg);
  height: 5px;
  width: 80px;
  border-top: 1px solid #18cfab;
  border-bottom: 1px solid #18cfab;
  margin-top: 30px;
  margin-bottom: 70px;
  }
.servicesMenu{
  width: 100%;
  height: 240px;
}
.servicesMenuNav{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.servicesMenuItem{
  position: relative;
  width: calc(100% / 6);
  display: inline-block;
  height: auto;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;
  text-align: center;
  border-right: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding:27px 0;
}
.servicesMenuItem.active:after{
  position: absolute;
  bottom: 0;
  left:50%;
  content: '';
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #18cfab;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}
.purchaseHeading{
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding: 90px 0 20px 0;
}
.purchaseSubheading{
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 80px;
}
.filterBar{
  height: 58px;
}
.filterBarItem{
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 15px;
  border: 1px solid #ecf0f1;
  border-right: none;
  background-color: #fff;
  color:  #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 58px;
  cursor: pointer;
  outline: none;
}
.newsItems{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap:wrap;
  align-items: center;
  width: 100%;
  height: 630px;
}
.newsItem{
  position: relative;
  width: 22.7%;
  height: 300px;
  background-color: #f8fcfe;
  text-decoration: none;
}
.newsSquare{
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 66px;
  background-color: #203e38;
}
.NewsBar{
  padding-left: 20px;
}
.NewsBarHeading{
  color:  #717171;
  font-size: 17.99px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  transform: scaleY(1.0006);
}
.NewsBarSubeading{
  display: inline-block;
  color:  #777777;
  font-size: 13.99px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
  transform: scaleY(1.0006);
  padding-right: 10px;
  border-right: 1px solid #777;
  text-transform: capitalize;
}
.comment{
  display: inline-block;
  color:  #777777;
  font-size: 13.99px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  transform: scaleY(1.0006);
  padding-left: 10px;
  text-transform: capitalize;
}
.newsItem:hover .newsSquare{
  background-color: #18cfab;
}
.newsItem:hover .NewsBarHeading{
  color: #18cfab;
}
.date{
  padding-top: 7px;
  color: #ffffff;
  font-size: 15.99px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  transform: scaleY(1.0006);
  text-transform: capitalize;
}
.whited{
  color: #fff;
}
.footerText{
  position: relative;
  top: 40%;
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
.copyright{
  display: inline-block;
}
.allRightsReserved{
  display: inline-block;
  padding-left: 5px;
  line-height:14px ;
  border-left: 1px solid #aeaeae;
}
.blueLogo{
  display: inline-block;
  color: #18cfab;
  padding:0 5px 0 3px;
}
.bottomed{
  position: relative;
  top:70%;
}
.servicesMenuContent{
  display: flex;
  width: 100%;
}
.MenuItemContent{
  display:none;
}
.MenuItemContentSpecial{
  display: flex;
  padding-left: 10px;
  color:  #777777;
  font-size: 13.64px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  transform: scaleY(1.0009);
}
.MenuItemContentSpecial p{
  padding-left: 10px;
}
.MenuItemContent p{
  display:inline-block;
  padding-left: 10px;
  color:  #777777;
  font-size: 13.64px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  transform: scaleY(1.0009);
}
.MenuItemContent img{
  display:inline-block;
}
.active{
  background-color: #18cfab;
}
.filteredImages{
  margin:20px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  justify-content:center;
  align-self: stretch;
}
.fbiAct{
  border-top: 3px solid #18cfab;
  color: #18cfab;
}
.importantImage:hover{
  background-color: #fff;
}
.SpecialbuttonContainer{
  padding: 30px 0;
}
.chosenSection{
  position: relative;
  width:100%;
  height: 500px;
}
.quote{
  font-size: 50px;
  color: #18cfab;
}
.sliderItem{
  outline: none;
}
.sliderImgItem{
  position: relative;
  left: 43.7%;
  height: 200px;
}
.sliderImage{
  width: 144px;
  height: 144px;
  border-radius: 72px;
}
.boxShadow{
  box-shadow: 0 0 0 10px rgba(24, 207, 171,0.5);
}
.boxShadowSmall{
  box-shadow: 0 0 0 5px rgba(24, 207, 171,0.5);
}
.bordered{
  border: 3px solid #18cfab;
}
.description{
  color:  #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.name{
  text-transform: uppercase;
  font-weight: 700;
  color: #18cfab;
}
.job{
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.author{
  margin: 30px 0;
}
.slider{
  margin-top: 30px;
}
.small{
  width: 61px;
  height: 61px;
}
.sliderNavItems{
  width: 300px;
  display: inline;
  position: relative;
  left: 38%;
  bottom: 70px;
}
.sliderNavItem{
  text-align: center;
  display: inline;
  padding: 35px 5px 5px 5px;
  outline: none;
}
.sliderNavItem, .slick-current > .sliderImage{
  position: relative;
  bottom: 15px;
}
.sliderNavItem.slick-current img{
  border: 2px solid #18cfab;
}
.filteredImage{
  position:relative;
}
.filterHover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8fcfe;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
  border-top: 2px solid #18cfab;
}
.filteredImage:hover .filterHover{
  opacity: 1;
}
.hover-icons{
  position: relative;
  top: 40px;
  width: 100%;
  height: auto;
}
.hover-icon{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #18cfab;
  background-color: transparent;
  color: #18cfab;
  padding: 15px 15px;
}
.hover-icon:hover{
  background-color: #18cfab;
  color: #f8fcfe;
}
.hover-title{
  position: relative;
  top:80px;
}
.hover-heading{
  text-transform: uppercase;
  color: #18cfab;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.hover-subheading{
  text-transform: capitalize;
  padding-top: 5px;
  color: grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}
